aiofiles==0.4.0
aiohttp==3.7.4
coverage
pyaml==20.3.1
pytest==5.4.1
requests==2.23.0
starlette==0.13.2
uvicorn==0.11.7
Jinja2==2.11.1
git+https://github.com/NCATS-Tangerine/kgx.git@0025e3f90b4ba73d14485fd5c9a3244176bd75cc
networkx
